<section  style="background-image: url(../../assets/bcg.jpg);" >
    

   
    <div  class="container-fluid pt-lg-md">
        <div  class="row justify-content-center">
            <div class="col-lg-5">
                <div  class="card bg-secondary shadow border-0">
                    <div  class="card-header bg-white pb-5">
                        <h1 style="text-align: center;font-weight: bold;">Reporting</h1>
                        <div class="text-muted text-center mb-3">
                            <small  style="font-weight: bold;">Formulaire de plainte Post-piratage</small>
                        </div>
                    </div>
                    <div  class="card-body px-lg-5 py-lg-5">
                        
                        <div  class="form-group mb-3" ng-reflect-ng-class="[object Object]">
                            <div  class="input-group input-group-alternative">
                                <div  class="input-group-prepend">
                                    <span  class="input-group-text">
                                        <i  class="ni ni-email-83">

                                        </i>
                                    </span>
                                </div>
                                <input style="color:black;" placeholder="Prenom" type="name" class="form-control ng-untouched ng-pristine ng-valid">
                            </div>
                            
                        </div>
                        <div  class="form-group mb-3" ng-reflect-ng-class="[object Object]">
                            <div  class="input-group input-group-alternative">
                                <div  class="input-group-prepend">
                                    <span  class="input-group-text">
                                        <i  class="ni ni-email-83">

                                        </i>
                                    </span>
                                </div>
                                <input style="color:black;"   placeholder="Nom" type="name" class="form-control ng-untouched ng-pristine ng-valid">
                            </div>
                            
                        </div>

                        <div  class="form-group mb-3" ng-reflect-ng-class="[object Object]">
                            <div  class="input-group input-group-alternative">
                                <div  class="input-group-prepend">
                                    <span  class="input-group-text">
                                        <i  class="ni ni-email-83">

                                        </i>
                                    </span>
                                </div>
                                <input style="color:black;"  placeholder="Email" type="email" class="form-control ng-untouched ng-pristine ng-valid">
                            </div>
                            
                        </div>


                            
                            
                            <div  class="form-group" ng-reflect-ng-class="[object Object]">
                                <div  class="input-group input-group-alternative">
                                    <div  class="input-group-prepend">
                                        <span  class="input-group-text">
                                            <i  class="ni ni-circle-08">

                                            </i>
                                        </span>
                                    </div>
                                    <input style="color:black;"   placeholder="Numero de telephone" type="name" class="form-control ng-untouched ng-pristine ng-valid">
                                </div>
                            </div>
                            <p>Canal de l'incident</p>
                            <p style="width: 200px;font-size: small;"><input type="radio" name="canal" value="Facebook">Facebook</p>
                            <p style="width: 200px;font-size: small;"><input type="radio" name="canal" value="Instagram">Instagram</p>
                            <p style="width: 200px;font-size: small;"><input type="radio" name="canal" value="Twitter">Twitter</p>
                            <p style="width: 200px;font-size: small;"><input type="radio" name="canal" value="whatsapp">Whatsapp</p>
                            <p style="width: 200px;font-size: small;"><input type="radio" name="canal" value="Autres">Autres</p>
                            <div  class="form-group">
                                <label  for="exampleFormControlTextarea1">Description</label>
                                <textarea style="color:black;"  placeholder="Votre description" id="exampleFormControlTextarea1" rows="3" class="form-control ng-untouched ng-pristine ng-valid">

                                </textarea>
                            </div>
                           
                            <div  class="text-center">
                                <button  type="button" class="btn btn-primary my-4">Soumettre</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
